/* .file-item {
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.file-item:hover {
  background-color: #f0f0f0;
}

.file-item.active {
  background-color: #e3f2fd;
} */

.file-item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.delete-button {
  margin-left: auto;
  padding: 4px 8px;
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.delete-button:hover {
  opacity: 1;
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 4px;
}

.file-item:hover {
  background-color: #f0f0f0;
  color:black;
}